.form-section-container {
    margin-top: 40px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height:600px;
}

.form-container {
    display: flex;
    position: relative;
    width: 80%;
    flex-direction:column;
    align-items: center;
    height:600px;
    gap: 15px;
}

.input-field {
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    color: var(--primary-text);
    background-color: var(--page-foreground);
    font-family: "ClashGrotesk", sans-serif;
    font-size: 1.08rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}