@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default at DOM Level/Fallbacks */
/* ------------------------------------------------------------ */
:root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* toast container */
  --toastify-icon-color-success: var(--toast-success);
  --toastify-icon-color-error: var(--toast-error);
}

/* Hide scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
/* Firefox */
html {
  scrollbar-width: none;
}
/* Old IE / Edge */
body {
  -ms-overflow-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

/* Global CSS Colors by Theme*/
/* ------------------------------------------------------------ */
[data-theme="dark"] {

  /* page */
  --background: #0a0a0a;
  --foreground: #ffffff;
  --foreground-hover:#313131;
  --icon: #ffffff;
  --input-field-focus: #e4e4e4;

  /* text */
  --header-text: #ffffff;
  --primary-text: #ffffff;
  --secondary-text: #e0e0e0;
  --placeholder-text: #a7a7a7;
  --nav-text:  #ffffff;
  --nav-active-text:  #ffffff;
  --nav-hover-text: #cccccc;

  /* buttons */
  --button-background: #141414;
  --button-stroke: #EDEDED;
  --button-background-hover: #1a1a1a;
  --button-text: #EDEDED;
  --button-text-hover: #F3F3F3;
  --button-shadow:#EDEDED;

  /* widgets */
  --widget-background: #a0a0a0;
  --widget-border: #ffffff;
  --widget-stroke: #252525;

  /* skill tiles */
  --skill-tile-bg: #252525;
  --skill-tile-text: #e6e6e6;

  /* react-toastify colors */
  --toast-shadow: #3d3d3d;
  --toast-success: #30eb7e;
  --toast-error: #ff4141;
  --toast-close-icon: #ffffff;

  /* Footer */
  --footer-background: #0a0a0a;
  --footer-foreground: #ffffff;
}

[data-theme="light"] {
  /* page */
  --background: #ffffff;
  --foreground: #020202;
  --foreground-hover:#2d2e30;
  --page-divider: #686868;
  --icon: #000000;
  --input-field-focus: #000000;

  /* text */
  --header-text: #000000;
  --primary-text: #131313;
  --secondary-text: #202020;
  --placeholder-text: #a0a0a0;
  --nav-text:  #000000;
  --nav-active-text:  #1D1D1D;
  --nav-hover-text: #181818;

  /* buttons */
  --button-background: #F0F0F0;
  --button-stroke: #303030;
  --button-background-hover: #ffffff;
  --button-text: #1F1F1F;
  --button-text-hover: #F3F3F3;
  --button-shadow:#303030;

  /* widgets */
  --widget-background: #FFFFFF;
  --widget-border: #000000;
  --widget-stroke: #000000;

  /* skill tiles */
  --skill-tile-bg: #ffffff;
  --skill-tile-text: #000000;
  --skill-tile-border: #000000;

  /* react-toastify colors */
  --toast-shadow: #0000000c;
  --toast-success: #7CE25D;
  --toast-error: #E05454;
  --toast-close-icon: #000000;

  /* Footer */
  --footer-background: #020202;
  --footer-foreground: #ffffff;
}

/* Font Faces */
/* ------------------------------------------------------------ */
@font-face {
  font-family: 'ClashDisplay';
  font-weight: bold; /* Bold */
  src: url('/fonts/ClashDisplay-Bold.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Bold.woff') format('woff');
}
@font-face {
  font-family: 'ClashDisplay';
  font-weight: 600; /* Semibold */
  src: url('/fonts/ClashDisplay-Semibold.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'ClashGrotesk';
  font-weight: 400; /* Regular */
  src: url('/fonts/ClashGrotesk-Regular.woff2') format('woff2'),
       url('/fonts/ClashGrotesk-Regular.woff') format('woff');
}
@font-face {
  font-family: 'ClashGrotesk';
  font-weight: 500; /* Medium */
  src: url('/fonts/ClashGrotesk-Medium.woff2') format('woff2'),
       url('/fonts/ClashGrotesk-Medium.woff') format('woff');
}
@font-face {
  font-family: 'ClashGrotesk';
  font-weight: 600; /* Semibold */
  src: url('/fonts/ClashGrotesk-Semibold.woff2') format('woff2'),
       url('/fonts/ClashGrotesk-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: bold; /* Bold */
  src: url('/fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
       url('/fonts/SpaceGrotesk-Bold.woff') format('woff');
}
@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: normal; /* Regular */
  src: url('/fonts/SpaceGrotesk-Regular.woff2') format('woff2'),
       url('/fonts/SpaceGrotesk-Regular.woff') format('woff');
}

/** Typography */

.h1-regular-lg {
  line-height: 1.2;
  letter-spacing: -1.9px;
  color: var(--foreground);
  font-weight: 400;
  font-family: "helvetica-neue-lt-pro", sans-serif;
  font-size: 3em;
}

.nav-link-md{
  font-size: 1.4rem;
  font-family: "helvetica-neue-lt-pro", sans-serif;
  font-weight: 300;
  letter-spacing: -0.8px;
  line-height: 1.1;
  text-wrap: auto;
  max-width: 350px;
  color: var(--foreground);
  cursor: pointer;
  user-select: none;
}

.subheader {
  font-family: "ClashDisplay";
  color: var(--foreground);
  font-size: 1.5em;
}

.caption-md {
  color: var(--foreground);
  font-family: "helvetica-neue-lt-pro", sans-serif;
  font-weight: 300;
  font-size: large;
  line-height: 1.2;
  letter-spacing: 0px;
}

.mono-caption-md {
  color: var(--secondary-text);
  font-family: "degular-mono";
  font-weight: 400;
  font-style: normal;
  font-size: large;
  line-height: 1.2;
  letter-spacing: -1px;
  font-size: 1rem;
}

.b-caption-md {
  color: var(--foreground);
  font-family: "helvetica-neue-lt-pro", sans-serif;
  font-weight: 400;
  font-size: large;
}

.b-caption-sm {
  color: var(--foreground);
  font-family: "ClashGrotesk", sans-serif;
  font-weight: 400;
  font-size: medium;
}

.caption {
  font-family: "ClashGrotesk", Inter, sans-serif;
  color: var(--secondary-text);
  font-size: 1.5em;
  letter-spacing: -0.3px;
  font-size: large;
}

.header-md-normal {
  color: var(--primary-text);
  font-family: "ClashGrotesk", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: -0.3px;
}

.header-md-bold {
  color: var(--primary-text);
  font-family: "helvetica-neue-lt-pro", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: -1.2px;
}

::selection {
  background-color: var(--primary-text); /* Highlight background color */
  color: var(--background);             /* Highlighted text color */
}

/* Toast Containers */
.Toastify__toast-body {
  font-family: "ClashGrotesk", Inter, sans-serif;
  color: var(--secondary-text);
}
.Toastify__toast {
  background-color: var(--background);
  border: solid 1px var(--widget-stroke);
  box-shadow: 0px 0px 5px 0px var(--toast-shadow);
}
.Toastify__close-button {
  color: var(--toast-close-icon);
}
.Toastify__progress-bar--success {
  background-color: var(--toast-success);
}
.Toastify__progress-bar--error {
  background-color: var(--toast-error);
}

/* button styling */
.brutal-button {
  padding: 14px 22px;
  background-color: var(--foreground);
  flex-shrink: 0;
  border: 2px solid var(--foreground);
  border-radius: 3px;
  color: var(--background);
  text-align: center;
  font-family: "ClashGrotesk", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  box-shadow: 4px 4px 0 -2px var(--background), 4px 4px 0 0 var(--button-stroke);
  animation: fade-up 0.5s;
  transition: 0.3s;
}
.brutal-button:hover {
  transition: 0.4s;
  box-shadow: 5px 5px 0 -2px var(--button-shadow), 5px 5px 0 0 var(--button-stroke);
  background-color: var(--background);
  color: var(--foreground);

}
@media (max-width: 1000px) {
  .brutal-button {
      font-size: 14px;
      padding: 8px 10px;
  }
}
@media (max-width: 600px) {
  .brutal-button {
      font-size: 14px;
      padding: 8px 10px;
  }
}