.page-content-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
}

.format-display {
    display: flex;
    justify-content: flex-end;
    justify-self: center;
    max-width: 1440px;
    height: 100vh;
    margin: auto;
    position: relative;
}

@media (max-width: 768px) {
    .format-display {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}