.project-widgets-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
    position: relative;
    width: 100%;
}

/* .projects-container:hover {
    transform: scale(1);
}

.project-widgets-container:hover .project-widget-container:not(:hover) {
    transform: scale(0.9);
} */

@media (max-width:600px) {
    .project-widgets-container {
        margin-top: 0.8rem;
    }
}

