.about-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about-me {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    padding: 2em;
    margin-top: auto;
}

.about-body {
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 1310px;
}

.section-title {
    color: var(--header-text);
    font-family: "ClashDisplay";
    font-size: 56px;
    position: relative;
    width: 100%;
    text-align: left;
    justify-self: flex-start;
    margin-bottom:20px;
}

.avatar-img {
    display: flex;
    max-width: 200px;
    aspect-ratio: 1/1;
    border-radius: 4px;
}