.work-section-container {
    display: grid;
    grid-template-columns: auto repeat(3, 1fr);
    gap: 1em;
}

.work-widgets-container {
    grid-column: 3 / -1; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 18px;
    position: relative;
}

.work-widget-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    padding: 26px 0px;
    flex: 1;
    min-width: 300px;
    gap: 12px;
    opacity: 1;
}

@media (max-width: 600px) {
    .work-widget-container {
        background-color: unset;
        border-radius: unset;
        width: 90%;
        padding: 20px 0px;
        border: unset;
        box-shadow: unset;
        opacity: 1;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
}
