.section-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 0 2em;
    align-items: center;
    margin-top: 100px;
    animation: fade-up 0.5s;
}

.work-widgets-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 18px;
    position: relative;
}

.work-widget-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    padding: 26px 0px;
    flex: 1;
    min-width: 300px;
    gap: 12px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.work-widget-container:hover {
    opacity: 1;
}

.work-widgets-container:hover .work-widget-container:not(:hover) {
    opacity: 0.5; 
}

@media (max-width: 600px) {
    .work-widget-container {
        background-color: unset;
        border-radius: unset;
        width: 90%;
        padding: 20px 0px;
        border: unset;
        box-shadow: unset;
        opacity: 1;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
}
