.work-page-container {
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    height: 100%;
    gap: 1em 2em;
    padding: 2em 2em;
    flex: 1;
}

.work-content-grid {
    margin-top: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    gap: 1em 2em;
}

.work-widgets-container {
    grid-column: 1 / 6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    border: 1px solid var(--widget-stroke);
}

.work-widget-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    min-width: 0;
    gap: 4px;
    padding: 1rem 2rem;
    border-right: 1px solid var(--widget-stroke);
    border-bottom: 1px solid var(--widget-stroke);
}

/* table border-ism */
.work-widget-container:nth-child(2n) {
    border-right: none;
}
.work-widget-container:last-child,
.work-widget-container:nth-last-child(2):nth-child(odd) {
    border-bottom: none;
}