@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
  @apply invisible opacity-0 absolute bg-[#353535] text-white px-2 py-1 rounded-md text-sm whitespace-nowrap z-10;
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  font-variant-ligatures: none;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale; 
}

.nav-link:hover .tooltip {
  @apply visible opacity-100;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  --background-color: #292827;
  --foreground-color: #292827;
  --foreground-hover-color:#2d2e30;
  --primary-text-color: #F3F3F3;
  --secondary-text-color: #F3F3F3;
  --icon-color: #d3cbbc;
  --icon-active-color: #262B2F;
  --logo-color: #F3F3F3;
  --shadow-color: #4646462a;
  --border-color: #3b3b3b;
  --button-color: #d1d1d1;
  --button-color-hover: #272829;
  --button-text-color: #1F1F1F;
  --button-text-color-hover: #F3F3F3;
  --accent-button-color: ;
  --widget-background-color: #3b3b3b;
}

[data-theme="light"] {
  --background-color: #E5E7E8;
  --foreground-color: #F0F0EF;
  --foreground-hover-color: #ebebeb;
  --primary-text-color: #1F1F1F;
  --secondary-text-color: #1F1F1F;
  --icon-color: #1F1F1F;
  --icon-active-color: #E5E7E8;
  --logo-color: #1F1F1F;
  --shadow-color: #a0a0a060;
  --border-color: #acacac;
  --button-color: #272829;
  --button-color-hover: #d1d1d1;
  --button-text-color: #F3F3F3;
  --button-text-color-hover: #1F1F1F;
  --accent-button-color: ;
  --widget-background-color: #F6F6F6;
}