.section-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
    margin-top: 100px;
    animation: fade-up 0.5s;
}

.work-widgets-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    width: 100%;
    align-items: center;
}

.work-widget-container {
    display: flex;
    flex-direction: column;
    background-color: var(--page-foreground);
    border-radius: 8px;
    width: 90%;
    padding: 40px;
    border: 1px solid var(--widget-stroke);
    gap: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.work-widget-container:hover {
    opacity: 1;
}

.work-widgets-container:hover .work-widget-container:not(:hover) {
    opacity: 0.5; 
}

@media (max-width: 600px) {
    .work-widget-container {
        background-color: unset;
        border-radius: unset;
        width: 90%;
        padding: 20px 0px;
        border: unset;
        gap: 20px;
        box-shadow: unset;
        opacity: 1;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
}
