.viewpanel {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fade-section {
  opacity: 0;
  will-change: opacity;
}

.fade-item {
  opacity: 0;
  will-change: opacity;
}


@media (max-width: 1000px) {
    .viewpanel {
        gap: unset;
    }
}
