.contact-info-container {
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    width: 100%;
    flex: 1;
}

.contact-info-grid {
    display: grid;
    grid-template-columns: auto repeat(6, 1fr);
    width: 100%;
    gap: 1em;
    margin-top: auto;
}

.form-container {
    grid-column: 1 / 4;
    display: flex;
    position: relative;
    width: 100%;
    flex-direction:column;
    align-items: stretch;
    max-width: 500px;
}

.input-fields-container {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction:column;
    /* background-color: var(--background);
    border: 2px solid var(--widget-stroke); */
    border-radius: 3px;
    /* padding: 40px; */
    gap: 24px;
}

.input-field {
    width: 100%;
    background: none;
    padding: 10px 0px;
    color: var(--widget-stroke);
    font-family: "ClashGrotesk", Inter, sans-serif;
    font-size: 1.08rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-bottom: 2px solid var(--primary-text);
    transition: border-color 0.3s ease;
    outline: none;
}

.input-field:focus {
    border-bottom: 2px solid var(--input-field-focus);
    transition: border-color 0.3s ease;
}

.input-field::placeholder {
    color: var(--placeholder-text);
}

textarea.input-field {
    border: 2px solid var(--widget-stroke);
    padding: 0.5em;
    resize:none; 
    min-height: 150px;
    margin-top: 20px;;
}
textarea.input-field:focus {
    border-bottom: 2px solid gray;
}

.input-fields-container .brutal-button {
    background-color: var(--foreground);
}

.social-links {
    grid-column: 4 / 5;
}

.code-links {
    grid-column: 5 / 6;
}

.socials-header {
    color: var(--foreground);
    font-family: "ClashDisplay", Inter, sans-serif;
    font-size: 34px;
    position: relative;
    width: 100%;
    text-align: left;
    justify-self: flex-start;
}

.social-link {
    text-decoration: none;
    color: var(--foreground);
    position: relative;
    font-family: "ClashGrotesk", Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.36px;
    text-transform: lowercase;
    text-wrap: nowrap;
}

@media (max-width: 600px) {
}


@media(max-width: 600px) {
    .input-fields-container {
        border-radius: 0;
        padding: 20px;
        gap: 10px
    }
    
    .input-field {
        font-size: small;
    }
}