.form-section-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 0 2em;
    align-items: center;
    margin-top: 100px;
}

.form-container {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction:column;
    align-items: center;
    margin-bottom: 10dvh;
}

.input-fields-container {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction:column;
    align-items: center;
    background-color: var(--background);
    border: 2px solid var(--widget-stroke);
    padding: 40px;
    gap: 24px;
}

.input-field {
    width: 100%;
    background: none;
    padding: 10px 0px;
    color: var(--widget-stroke);
    font-family: "ClashGrotesk", Inter, sans-serif;
    font-size: 1.08rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-bottom: 2px solid var(--primary-text);
    transition: border-color 0.3s ease;
    outline: none;
}

.input-field:focus {
    border-bottom: 2px solid var(--input-field-focus);
    transition: border-color 0.3s ease;
}

.input-field::placeholder {
    color: var(--placeholder-text);
}

textarea.input-field {
    border: 2px solid var(--widget-stroke);
    padding: 0.5em;
    resize:none; 
    min-height: 150px;
    margin-top: 20px;;
}
textarea.input-field:focus {
    border-bottom: 2px solid gray;
}

.input-fields-container .brutal-button {
    background-color: var(--foreground);
}


@media(max-width: 600px) {
    .input-fields-container {
        width: 90%;
        background-color: unset;
        border: unset;
        border-radius: 0;
        padding: unset;
        gap: 24px;
    }
}