.design-section-container {
    display: flex;
    flex-direction: column;
    position:relative;
    border-radius: 8px;
    width: 90%;
    gap:20px;
    align-items: center;
}

.design-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.design-image {
    width: 100%; 
    border-radius: 8px;
  
}