.footer-container {
    display: flex;
    height: 200px;
    background-color: var(--foreground);
    width: 100%;
    align-items: center
}

.rights-text {
    text-decoration: none;
    color: var(--background);
    position: relative;
    height: 100%;
    align-content: flex-end;
    font-family: "ClashGrotesk", Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
    text-transform: lowercase;
    padding: 2rem;
}

.footer-content-container {
    display: flex;
    margin-left: auto;
    gap: 100px;
    margin-right:10%;
}

/* .socials-container {
    height: 100%;
}

.code-links-container {
    height: 100%;
} */

.socials-header {
    color: var(--background);
    font-family: "ClashDisplay";
    font-size: 34px;
    position: relative;
    width: 100%;
    text-align: left;
    justify-self: flex-start;
}

.social-footer-link {
    text-decoration: none;
    color: var(--background);
    position: relative;
    font-family: "ClashGrotesk", Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.36px;
    text-transform: lowercase;
    text-wrap: nowrap;
}