.left-panel-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 100px;
    gap: 24px;
}

.logo {
    fill: var(--icon)
}

.icon-link {
    color: var(--icon);
    cursor: pointer;
}

.hero-text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-name {
    color: var(--header-text);
    text-align: center;
    max-width: 300px;
    font-family: "ClashDisplay";
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.58px;
    cursor: default;
    user-select: none; 
    animation: fade-up 0.5s;
}

.role-text {
    font-family: "ClashDisplay", sans-serif;
    font-size: 22pt;
    font-weight: 500;
    color: var(--primary-text);
    letter-spacing: -0.01em;
    cursor: default;
    user-select: none; 
    animation: fade-up 0.5s;
}

.mantra-text {
    font-size: 14pt;
    font-family: "ClashGrotesk", sans-serif;
    letter-spacing: 0.36px;
    font-weight: 400;
    text-wrap: auto;
    max-width: 302px;
    color: var(--secondary-text);
    margin-top: 10px;
    text-align: center;
    cursor: default;
    user-select: none; 
    animation: fade-up 0.5s;
}

.mobile-socials-container {
    display: flex;
    gap: 12px;
    align-items: center;
    display: none;
    margin-bottom: 24px;
}

/* button styling */
.brutal-icon-button {
    padding: 6px;
    background-color: var(--button-background);
    border-radius: 8px;
    border: 2px solid var(--button-stroke);
    color: var(--button-text);
    box-shadow: 4px 4px 0 -2px var(--page-background), 4px 4px 0 0 var(--button-stroke);
    animation: fade-up 0.5s;
    transition: 0.3s;
  }
  .brutal-icon-button:hover {
    transition: 0.4s;
    box-shadow: 5px 5px 0 -2px var(--button-shadow), 5px 5px 0 0 var(--button-stroke);
    background-color: var(--button-background-hover);
  }

  .avatar-img {
    width: 200px;
    display:none;
    animation: fade-up 0.5s;
  }

  .skip-hero-btn {
    display: none;
    color: var(--icon);
    cursor: pointer;
    transition: 0.3s;
}

.skip-hero-btn:hover {
    opacity: 60%;
    transition: 0.3s;
}


@media (max-width: 768px) {
    .resume-btn-container {
        display: none;
    }
    .left-panel-container {
        position: relative;
        width: 100%;
    }
    .hero-container {
        position: relative;
        top: 5rem;
        width: 90%;
        margin-bottom: 100px;
    }
    .hero-text-container {
        text-align: left;
        gap: 10px;
        align-items: flex-start;
        padding: 0 5%;
        width: 100%;
        text-align: left;
    }
    .hero-name {
        font-size: 4rem;
        position: relative;
        text-align: left;
    }
    .role-text {
        font-size: xx-large;
        position: relative;
        width: 100%;
        text-align: left;
    }

    .mantra-text {
        text-align: left;
        font-size: medium;
        margin: unset;
        text-wrap: unset;
    }

    .mobile-socials-container {
        display: flex;
        width: 90%;
    }
}

@media (max-width: 600px) {

    .hero-text-container {
        text-align: center;
        align-items: center;
        gap: 4px;
    }

    .hero-container {
        height: 75vh;
        justify-content: center;
    }
    
    .hero-name {
        font-size: 36px;
        position: relative;
        text-align: center;
        margin-top: auto;
    }
    .role-text {
        font-size: x-large;
        text-align: center;
    }

    .mantra-text {
        text-align: center;
        font-size: medium;
        width: 100%;
    }

    .mobile-socials-container {
        justify-content: center;
    }

    .avatar-img {
        display: flex;
        margin-bottom: 1rem;
    }
    .skip-hero-btn {
        display: flex;
    }
}

/* Animations */
@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
