.navigation {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    width: 20%;
}

.navbar-container {
    display: flex;
    justify-content: center;
    width: 60%;
}


.navbar-content {
    display: flex;
    flex-direction: column;
    padding:5px 8px;
    gap: 5px;
    margin-left: 20px;
    height: auto;
    align-items: flex-start;
    height: 30vh;
}

.nav-link {
    text-decoration: none;
    color: var(--nav-text);
    position: relative;
    font-family: "SpaceGrotesk", eurostile, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
    text-transform: uppercase;
    transition: 0.2s;
}

.nav-link.active {
    border-radius: 5px;
    padding: 6px;
    font-weight: 700;
}

.nav-link.active {
    font-weight: 700;
    color: var(--nav-active-text);
}

.nav-link:hover {
    transition: 0.2s;
    color: var(--nav-hover-text);
}

.nav-button-container {
    display: flex;
    position: fixed;
    gap: 10px;
    bottom: 2em;
}

@media (max-width: 750px) {
    .navbar-container {
        display:none;
    }
}


@media (min-resolution:150dpi) {
    .nav-button-container {
        display: none;
    }
}

@media (min-resolution:125dpi) {
    .navbar-content {
        height: 35vh;
    }
}