.navbar-wrapper {
    display: flex;
    position: fixed;
    align-items: flex-start;
    justify-self: flex-start;
    Bottom: 0;
    width: 200px;
    height:400px;
}
.navbar-container {
    display: flex;
}

.navbar-wrapper span {
    height: 100%;
}
.navbar-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:5px 8px;
    gap: 4px;
    transform-origin: center;
    position: relative;
    margin-left: 20px;;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: eurostile;
    font-weight: light;
    font-size: 14pt;
    letter-spacing: 0.1rem;
    text-align: left;
    color: var(--nav-text);
    position: relative;
    border-radius: 10px;
    padding: 6px;
    transition: 0.2s;
}

.nav-link.active {
    border-radius: 5px;
    padding: 6px;
}

.nav-link.active {
    font-weight: bold;
    color: var(--nav-active-text);
}

.nav-link:hover {
    transition: 0.2s;
    color: var(--nav-hover-text);
}

