
.project-btn-wrapper {
  display: flex;
  flex-direction: column;
  gap:20px;
}

.project-widget-header {
    display: flex;
    flex: 2;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .project-widget-title {
    display: flex;
    gap: 10px;
    flex: 1;
    color: var(--primary-text);
    font-family: "ClashGrotesk", sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    align-items: center;
}

.repo-link {
    display: flex;

}

@media (max-width: 600px) {
    .project-widget-title {
        font-size: medium;
    }

    .widget-gif {
      max-width: 100%;
    }

}
