.project-widget-container {
  display: flex;
  flex-direction: column;
  background-color: var(--page-foreground);
  border-radius: 8px;
  width: 90%;
  padding: 40px;
  border: 1px solid var(--widget-stroke);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
  user-select: none; 
}
.project-widget-container:hover {
  transform: translate(-3px);
  transition: 0.3s;
}

.project-btn-wrapper {
  display: flex;
  flex-direction: column;
  gap:20px;
}

.project-widget-header {
  display: flex;
  flex: 2;
  display: flex;
  align-items: center;
  width: 100%;
}

.project-widget-title {
  display: flex;
  gap: 10px;
  flex: 1;
  color: var(--primary-text);
  font-family: "ClashGrotesk", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  align-items: center;
}

.repo-link {
  display: flex;
}

.project-widget-container:hover {
  opacity: 1;
}

.work-widgets-container:hover .project-widget-container:not(:hover) {
  opacity: 0.5; 
}
.project-widget-container .widget-skill-tile {
  background-color: var(--page-background);
}

@media (max-width: 600px) {
  .project-widget-title {
    font-size: medium;
  }

  .project-widget-container {
    width: 90%;
    padding: 20px 20px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

}
