.widget-gif {
    max-width: 80%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    justify-self: center;
  }

  .project-widget-header {
    display: flex;
    flex: 2;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .project-widget-title {
    display: flex;
    gap: 10px;
    flex: 1;
    color: var(--primary-text);
    font-family: "ClashGrotesk", sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    align-items: center;
}

.repo-link {
    display: flex;

}

@media (max-width: 600px) {
    .project-widget-title {
        font-size: medium;
    }

    .widget-gif {
      max-width: 100%;
    }

}
