.scroll-right-panel {
    display: flex;
    position: relative;
    align-items:center;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    margin: 2em;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--page-divider);
}

::-webkit-scrollbar-thumb:hover {

}