.scroll-right-panel {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 100px;
}

.about-me {
    display: flex;
    flex-direction: column;
    width: 90%;
    color: var(--secondary-text);
    margin-bottom: 6rem;
    font-family: "ClashGrotesk", Inter, sans-serif;
    font-size: larger;
    letter-spacing: 0.36px;
    font-weight: 400;
    animation: fade-up 0.5s;
    gap: 20px;
}

.emphasis-text {
    font-weight: 500;
}

.section-title {
    color: var(--header-text);
    font-family: "ClashDisplay";
    font-size: xx-large;
    padding: 0.6em 0em;
    position: relative;
    width: 90%;
    text-align: left;
    justify-self: flex-start;
}

/*  scroll bar chrome */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    margin: 2em;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--page-divider);
}

/* mobile */
@media (max-width: 768px) {
    .scroll-right-panel {
        width: 90%;
        margin-top: unset;
    }
    .about-me {
        width: 90%;
        font-size: medium;
        margin-bottom: unset;
        padding-top: 80px;
    }
}


@media (max-width: 600px) {
    .section-title {
        font-size: xx-large;
        padding-bottom: unset;
        padding-top: 35px;
        
    }
}
