.sections-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 2em;
    gap: 220px;
}

.work-grid {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.resume-section {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

/* mobile */
@media (max-width: 1000px) {
    .sections-container {
        width: 90%;
    }
    .about-me {
        width: 90%;
        font-size: medium;
        gap: 2rem;
    }
    .section-title{
        padding: 0;
        margin: 0;
    }

    .about-body {
        gap: 0.8rem;
    }
    .avatar-img {
        width: 200px;
    }
}

@media (max-width: 600px) {
    .sections-container {
        width: 100%;
        padding: 0;
    }

    .avatar-img {
        width: 100px;
        margin-bottom: unset;
    }

    .about-me {
        width: 90%;
        font-size: medium;
        flex-direction: column;
        gap: unset;
        margin-top:2.2em;
    }

    .about-body {
        gap: 0.6rem;
    }

    .section-title {
        font-size: xx-large;
        padding-bottom: unset;
        padding-top: unset;
        margin-top: 6px;
    }
}


/* Animations */
@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}