.sections-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 1440px;
}

.about-me {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    width: 100%;
    color: var(--secondary-text);
    font-family: "ClashGrotesk", Inter, sans-serif;
    font-size: x-large;
    letter-spacing: 0.36px;
    font-weight: 500;
    animation: fade-up 0.5s;
}

.about-text {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    
}

.emphasis-text {
    font-weight: 600;
}

.section-title {
    color: var(--header-text);
    font-family: "ClashDisplay";
    font-size: 56px;
    position: relative;
    width: 100%;
    text-align: left;
    justify-self: flex-start;
    margin-bottom:20px;
}

.avatar-img {
    display: flex;
    margin-bottom: .4rem;
    width: 300px;
    animation: fade-up 0.5s;
}

/* mobile */
@media (max-width: 1000px) {
    .sections-container {
        width: 90%;
    }
    .about-me {
        width: 90%;
        font-size: medium;
        margin-bottom: unset;
        padding-top: 80px;
    }
}

@media (max-width: 600px) {
    .sections-container {
        width: 100%;
    }

    .section-title {
        font-size: xx-large;
        padding-bottom: unset;
        padding-top: 35px;
    }

    .about-body {
        margin-top: 0.8rem;
    }
}


/* Animations */
@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}