.work-widget-container {
    display: flex;
    flex-direction: column;
    background-color: var(--page-foreground);
    border-radius: 8px;
    width: 90%;
    min-height: 200px;
    padding: 20px;
    border: 1px solid var(--widget-stroke);
    gap:10px;
}

.work-widget-header {
    display: flex;
    gap:20px;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

.widget-title {
    color: var(--primary-text);
    font-family: "ClashGrotesk", sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
}

.widget-date {
    color: var(--primary-text);
    font-family: "ClashGrotesk", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}

.widget-description {
    color: var(--primary-text);
    font-family: "eurostile", sans-serif;
}

.widget-skill-tiles {
    color: var(--primary-text);
    font-family: "ClashGrotesk", sans-serif;
    
    
}

.widget-skill-tile {
    color: var(--primary-text);
}