.page-content-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:100px;
}

@media (max-width: 1000px) {
}

@media (max-width: 600px) {
}