.project-widget-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  border: 1px solid var(--widget-stroke);
  opacity: 1;
  border-radius: 3px;
  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}
.project-widget-container:hover {
  transition: 0.2s;
}

.project-btn-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 32px;
  gap: 10px;
}

.project-widget-header {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
}

.project-widget-title {
  display: flex;
  gap: 10px;
  flex: 1;
  color: var(--primary-text);
  font-family: "ClashGrotesk", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  align-items: center;
}

.project-widget-description {
  color: var(--secondary-text);
  font-family: "ClashGrotesk", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.25px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.repo-link {
  display: flex;
}

.project-widget-container:hover {
  opacity: 1;
}

.work-widgets-container:hover .project-widget-container:not(:hover) {
  opacity: 0.5;
}
.project-widget-container .widget-skill-tile {
  background-color: var(--skill-tile-bg);
  border-radius: 3px;
}

.project-widget-container .widget-skill-tile:hover {
  cursor: pointer;
}

.project-widget-date {
  color: var(--foreground);
  font-family: "ClashGrotesk", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  /* align-self: flex-start; */
  margin-left: auto;
  margin-top: auto;
  text-align: right;
  /* margin-top: 0.12rem; */
}

@media (max-width: 600px) {
  .project-btn-wrapper {
    padding: 16px;
    gap: 10px;
    min-height: unset;
  }
  .project-widget-title {
    font-size: medium;
  }

  .project-widget-container {
    width: 90%;
    opacity: 1;
    transition:
      opacity 0.2s ease-in-out,
      transform 0.2s ease-in-out;
  }

  .project-widget-description {
    font-size: small;
    line-height: 18px;
  }
}
