.project-widgets-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    width: 100%;
    align-items: center;
}

.projects-container:hover {
    opacity: 1;
}

.project-widgets-container:hover .project-widget-container:not(:hover) {
    opacity: 0.5; 
}

@media (max-width:600px) {
    .project-widgets-container {
        margin-top: 0.8rem;
    }
}

